/*Общие стили + главная страница*/

body {
   margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400; /*как узнать*/
    color: #283136;
    background: white;
}

a {
    text-decoration: none;
}

.main-navigation {
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    background-color: #eeeeee;
}

.site-navigation,
.user-navigation,
.socialnetworks,
.slides-switches,
.site-filters,
.filter1,
.filter2,
.partners,
.services-list {
	list-style: none;
}

/*.main-header-logo:hover,
.main-header-logo:focus{
	background-image: : #3f3f3f;
	Логотип при наведении
}*/

.container a {
	list-style: none;
	color: #ffffff;
}

.button {
  font: inherit;
  
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

.button:hover,
.button:focus {
	background-color: #e74246;
}

.button:active {
	background-color: #d7373b;
}

a[name="secondbutton"] {
	background-color: #00ca74;
}

a[name="secondbutton"]:focus,
a[name="secondbutton"]:hover {
	background-color: #00bc6c;
}

a[name="secondbutton"]:active {
	background-color: #00aa62;
}

a[name="thirdbutton"] {
	background-color: #efc84a;
}

a[name="thirdbutton"]:focus,
a[name="thirdbutton"]:hover {
	background-color: #eab534;
}

a[name="thirdbutton"]:active {
	background-color: #e5a722;
}

.site-navigation a,
.user-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: #fb565a;
}

.info {
    background-color: #eeeeee;
	/*background-image: url("img/slider1.png") no-repeat;*/    /*Как вставить картинки для слайдов*/
}

.info b {
    font-size: 55px;
    line-height: 55px;
}

.feature-item {
    text-align: center;
    list-style: none;
}

.feature-item h3 {
    font-size: 24px;
    line-height: 30px;
}

.about-us h3 {
   font-size: 45px;
   line-height: 45px;
}

.about-us h4 {
	font-weight: bold;
}

/*.stats h3 {

	font-weight: bold;  *не изменяется
}
*/

/*146,100,50 как сделать больше*/

.partners li {
	opacity: 0.2;
}

.partners li:hover {
     opacity: 1;
}    

.partners li:active {
     opacity: 0.1;
}    

.footer-contacts {
	 font-size: 16px;
    line-height: 18px;
}

.footer-contacts b {
	font-size: 18px;
    line-height: 30px;
}

/*Фон карты и маркера*/

.main-footer {
    background-image: url("img/map.png");
}

.social-button {
    color: #000000;   /*Временно задал черный цвет,чтобы видеть их на белом фоне
    для кнопок соц. сетей*/
}

.footer-social {
    font-size: 16px;
    line-height: 22px;
}

.footer-social b {
    font-size: 36px;
    line-height: 36px;
}

.feedback input,
          textarea {
	font:inherit;
	background-color: transparent;
	border: 2px solid #d7dcde;
}
          /*Прозрачность текста в покое 50%*/

.feedback input:hover,
          textarea:hover {
	font:inherit;
	background-color: transparent;
	border: 2px solid #b4b9bb;
}

.feedback input:focus,
          textarea:focus {
	font:inherit;
	background-color: transparent;
	border: 2px solid #000000;
}

.feedback:invalid {
	border-color: #e74347;
}



/*Отдельные стили для каталога*/


.site-filters a,
.templates a,
.button1{
	list-style: none;
	color: #000000;
}

main h1 {
	font-size: 55px;
	line-height: 55px;
}

/*.site-filters:nth-first-clild(1) ul{
	font-size: 55px;
	line-height: 55px;
}*/

a[name="button1"] {
	font-size: 18px;
	line-height: 30px
}

input[name="radio"] {
	border-left: 
}

/*В каталоге формы обратной связи неправильно себя ведут при нажатии*/

.site-filters a{
	font-size: 14px;
	line-height: 18px;
	opacity: 0.3;
}


.site-filters a:focus{
	opacity: 1;
}

.filter1,
.filter2 {
	font-size: 16px;
	line-height: 20px;
	opacity: 0.6;
}

.filter1:hover,     /*как сделать выделение каждой строки,а не всего блока*/
.filter2:hover {
    opacity: 1;
}

.filter1:inactive,
.filter2:inactive {
	opacity: 0.3;
}

div a{
	font-size: 18px;
	line-height: 30px;
}

div p{
	font-size: 16px;
	line-height: 18px;
	color: #666666;
}

div button{
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

/*Надпись внизу "Скидка 10% для друзей из социальных сетей." не меняет цвет*/

